@import url("https://fonts.googleapis.com/css?family=Lato:300&display=swap");
/* general */
@import "components/colors"
@import "components/datos"
@import "components/mixins"
*{box-sizing: border-box}
body
    margin: 10px 0 0 0

h1 
    font-size: 3.5vw
    font-weight: 300
    color: $white
    font-family: "Lato"

@import "components/nesting"

